<!DOCTYPE html>
<html lang="ko" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/community/community_lobby.css">
  <link rel="stylesheet" href="/css/community/blog.css">

  <script type="text/javascript" src="/js/community/community_lobby.js"></script>
  <title>커뮤니티</title>
</head>
<body class="main_body">
<header class="header">
  <div class="background_header">
    <div class="header_font">header</div>
  </div>
  <div class="background_menu">
    <div class="manual">
      <div class="manual_data">
        <div class="manual_text">
          <div class="menual_1">
            <div class="menual_font_1">커뮤니티</div>
          </div>
          <div class="menual_2">
            <button class="button check_button" id="community">등산일지</button> | <button class="button" id="club">동호회 모집</button> | <button class="button" id="contact">문의하기</button>
          </div>
        </div>
      </div>
      <div class="manual_underbar"></div>
    </div>
  </div>
</header>
<main class="main" id="main"></main>
<footer class="footer">
</footer>
</body>
</html>