<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       <!--/* title */-->
      <!--/*--------------------------*/-->
      <!--/* external */-->
      ~{},              <!--/* styles */-->
      ~{},              <!--/* scripts */-->
      <!--/* internal */-->
      ~{},              <!--/* style */-->
      ~{},              <!--/* script */-->
      <!--/*--------------------------*/-->
      ~{::#gnb},        <!--/* gnb */-->
      ~{::main}        <!--/* main */-->
      )}"th:with="s_id=${session?.loginMember?.id},
               s_nickname=${session?.loginMember?.nickname},
               s_loc=${session?.loginMember?.loc},
               s_gubun=${session?.loginMember?.gubun},
               s_numid=${session?.loginMember?.memberId}"

      th:data-s-id="${s_id}"
      th:data-s-nickname="${s_nickname}"
      th:data-s-loc="${s_loc}"
      th:data-s-gubun="${s_gubun}"
      th:data-s-numid="${s_numid}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>등산 일지</title>
</head>
<body>
  <div class="wrap">
    <div id="gnb" th:replace="fragment/gnb::global"/>
    <div id="content" >
      <main>
        <input type="number" name="" id="bbsid" th:value="${bbs.bbsId}" hidden>
        <input type="text" name="" id="code" th:value="${bbs.code}" hidden>
        <input type="text" name="" id="tags" th:value="${bbs.tags}" hidden>
        <input type="text" name="" id="staring" th:value="${bbs.staring}" hidden>
<!--        <link rel="stylesheet" href="@{}">-->
        <script type="module" th:src="@{/js/community/bbsdt.js}"></script>
        <link rel="stylesheet" th:href="@{/css/community/blogdit.css}">
        <div class="body" th:object="${bbs}">
          <div class="header">
            <div class="dummy"></div>
            <div class="tilte">상세 조회</div>
            <div class="underbar"></div>
            <div class="dummy"></div>
          </div>
          <div class="body">
            <div class="blog_title" th:text="${bbs.title}"></div>
            <div class="ctime" th:text="'등반 시간 : ' + ${bbs.ctime}"></div>
            <div class="name"th:text="'닉네임 : ' + ${bbs.nickname}"></div>
            <div class="poto" id="imageContainer"></div>
            <div class="textarea" th:text="${bbs.bcontent}"></div>
            <div class="rebuer">
              <div id="star"></div>
              <div id="tagslog"></div>
            </div>
            <div class="dummy"></div>
          </div>
          <div class="footer">
          </div>
          <div class="set_button">
            <th:block th:if="${session.loginMember}">
              <th:block th:if="${s_nickname == bbs.nickname}">
                <button type="button" class="community_button" id="modifyBtn">수정</button>
              </th:block>
              <th:block th:if="${s_nickname == bbs.nickname}">
                <th:block th:unless="${session.loginMember.gubun == 'M'}">
                  <button type="button" class="community_button" id="deleteBtn">삭제</button>
                </th:block>
              </th:block>
              <th:block th:if="${session.loginMember.gubun == 'M'}">
                <button type="button" class="community_button" id="deleteBtn">삭제</button>
              </th:block>
            </th:block>
            <button class="community_button" onclick="location.href='http://localhost:9080/community' ">목록</button>
          </div>
        </div>
        <div class="comment-wrap">
          <div>댓글</div>
          <div>
            <th:block th:if="${session.loginMember}">
            <input type="hidden" id="memberId" th:value="${session.loginMember.memberId}"> <!-- 실제 로그인한 회원의 memberId를 넣어야 합니다 -->
            <input type="text" id="comments" placeholder="댓글 입력"></input>
            <button id="submit-comment">댓글 등록</button>
            </th:block>
          </div>
          <div id="comments-container">
            <!-- 댓글 내용이 들어갈 곳 -->
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
</html>
